# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - VS Code
.vscode/
.factorypath

# IDE - Eclipse
.classpath
.project
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local env overrides
application-local.yml
application-local.properties
